apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:{{ monitoring.prometheus.port }}
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://localhost:{{ monitoring.loki.port }}
    isDefault: false
    editable: true
